#internet_search ul.element {
  line-height:120%;
}
#internet_search {
  margin-bottom:15px;
}
#internet_search .small-link {
  font-size:8px!important;
  color:grey!important;
  font-weight:normal!important;
  text-transform:lowercase!important;
  font-family:auto!important;
  padding:0!important;
  margin:0!important;
}
#internet_search .small-link a {
  text-decoration:none!important;
  font-size:8px!important;
  color:grey!important;
  font-weight:normal!important;
  text-transform:lowercase!important;
  font-family:auto!important;
  padding:0;
  margin:0;
}